<!DOCTYPE html>
<html>

<head>
    <title>Groups of selectors</title>

    <meta name="author" content="Daniel Glazman">

    <link rel="stylesheet" type="text/css" href="css/_index.css">

    <link id="css-solution" rel="stylesheet" type="text/css">
</head>

<body>
    <header>
        <h1>Groups of selectors (ID #1)</h1>
        <nav>
            <a id="previous-anchor" href="" title="Previous test">Previous</a>
            <p id="page-count">Test 1 of 172</p>
            <a id="next-anchor" href="" title="Next test">Next</a>
        </nav>
    </header>
    <p>Explanation</p>
    <main>
        <pre id="html-question">
</pre>

        <pre id="css-question">
</pre>

        <div id="html-solution">
        </div>
    </main>
    <a id="question-anchor" href="index.html">Question</a>
    <footer>
        <p id="date">Date : 2001-07-11</p>
        <p id="revision">Revision : 1.0</p>
    </footer>
</body>

</html>