<!DOCTYPE html>
<html>

<head>
    <title>TITLE_HERE</title>

    <meta name="author" content="Daniel Glazman">

    <link rel="stylesheet" type="text/css" href="css/_index.css">

    <link id="css-solution" rel="stylesheet" type="text/css">
</head>

<body>
    <header>
        <h1>TITLE_HERE</h1>
        <nav>
            <a rel="prev" href="PREV_HERE">Previous</a>
            <p>Test INDEX_HERE of 172</p>
            <a rel="next" href="NEXT_HERE">Next</a>
        </nav>
    </header>
    <p>Did you get it right?</p>
    <main>
        <pre id="html-question">
            HTML_ENCODED_HERE
        </pre>

        <pre id="css-question">
            CSS_HERE
        </pre>

        <div id="html-result">
            HTML_HERE
        </div>
    </main>
    <a id="question" href="QUESTION_PAGE_HERE">Question</a>
    <footer>
        <p id="date-footer">DATE_HERE</p>
        <p id="revision-footer">REVISION_HERE</p>
    </footer>
</body>

</html>