<!DOCTYPE html>
<html>

<head>
    <title>Groups of selectors</title>

    <meta name="author" content="Daniel Glazman">

    <link rel="stylesheet" type="text/css" href="css/_index.css">
</head>

<body>
    <header>
        <h1>Groups of selectors (ID #1)</h1>
        <nav>
            <a href="" title="Previous test">Previous</a>
            <p>Test 1 of 172</p>
            <a href="" title="Next test">Next</a>
        </nav>
    </header>
    <p>Explanation</p>
    <main>
        <pre id="html-question">
</pre>

        <pre id="css-question">
</pre>

        <div id="html-solution">
        </div>
    </main>
    <a href="index-solution.html">Solution</a>
    <footer>
        <p>Date : 2001-07-11</p>
        <p>Revision : 1.0</p>
    </footer>
</body>

</html>